Collegati al DB e mostra i DB installati

In [17]:
mysql://root@localhost:3306;
SHOW DATABASES;

,Database
0,information_schema
1,mysql
2,performance_schema
3,sys

Crea un nuovo DB

In [19]:
mysql://root@localhost:3306;
CREATE DATABASE PROVA;

Ora mostra di nuovo i DB

In [20]:
mysql://root@localhost:3306;
SHOW DATABASES;

,Database
0,PROVA
1,information_schema
2,mysql
3,performance_schema
4,sys